:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("/fonts/Pretendard-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Medium";
  src: url("/fonts/Pretendard-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url("/fonts/Pretendard-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #1E1F21;
    --foreground: #ededed;
    --boxcolor: rgba(175, 175, 175, 0.13);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-content {
  position: relative;
  width: 720px;
  max-width: 100%;
  /*margin: 0 auto;*/
  padding: 100px 24px 0 24px;
  box-sizing: border-box;
}

@media (min-width: 769px) {
  .main-content {
    margin-left: 280px;
  }
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
