/*:root {*/
/*  --foreground: #ffffff;*/
/*  --background: #1E1F21;*/
/*}*/

@font-face {
  font-family: "Pretendard-Regular";
  src: url("/fonts/Pretendard-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Medium";
  src: url("/fonts/Pretendard-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url("/fonts/Pretendard-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #171717;
    --background: #ededed;
    --boxcolor: rgba(175, 175, 175, 0.13);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-content {
  width: 720px;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 100px 24px 0 24px;
}

.scroll-offset {
  scroll-margin-top: 65px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

body.ReactModal__Body--open {
  width: 100%;
  position: fixed;
  overflow: hidden !important;
}
