/*.mainContent {*/
/*  padding: 20px 20px 0 20px;*/
/*  transition: background 0.3s, box-shadow 0.3s;*/
/*}*/

/*.mainContent {*/
/*  position: relative;*/
/*  margin: 0 auto;*/
/*  width: 720px;*/
/*  max-width: 1100px;*/
/*  padding: 100px 24px 0 24px;*/
/*  box-sizing: border-box;*/
/*}*/

.pretend{
  font-family: "Pretendard-Regular", sans-serif;
}

.mainLayout{
  display: flex;
  min-height: 100vh;
}

.flex{
  width: 100%;
  display: flex;
  justify-content: center;
}